<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./favicon.ico">
  <!-- import CSS -->
  <link rel="stylesheet" href="./static/element-ui_lib_theme-chalk_index.css">
  <!-- main.css -->
  <link rel="stylesheet" href="./static/main.css">
  <!-- editor -->
  <link rel="stylesheet" href="./static/editormd/css/editormd.css" />
  <!-- codemirror -->
  <link rel="stylesheet" href="./static/codemirror/codemirror.css">
  <link rel="stylesheet" href="./static/codemirror/theme/base16-light.css">
  <title>Kindle to flomo</title>
</head>

<body>
  <div id="app">
    <div class="container">
      <!-- aside -->
      <div v-if="asideVisable" class="aside">
        <h2 style="color: #606266" title="九零字节出品">Kindle2flomo <small></small></h2>
        <div class="sub_title">将 Kindle 读书笔记一键导入 flomo</div>
        <!-- 第 0 步 -->
        <!-- <el-divider content-position="left">第 0 步：随便点点</el-divider> -->
        <!-- 第一步 -->
        <el-divider content-position="left">第 1 步</el-divider>
        <!-- <el-dropdown trigger="click" size='small' style="display: block;" placement="bottom-start" @command="get_notes">
          <el-button type="primary" size="small" icon="el-icon-upload">
            点击上传读书笔记
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="kindle">上传 Kindle 读书笔记文件</el-dropdown-item>
            <el-dropdown-item command="weread">从剪切板读取微信读书笔记</el-dropdown-item>
            <el-dropdown-item command="dedao" disabled>获取得到读书笔记</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown> -->
        <!-- kindle note uploader -->
        <el-upload class="upload-demo" action="#" :multiple="true" :file-list="fileList" :http-request="handleRequest"
          :on-preview="preview" :on-change="uploadChange" accept=".csv, .html">
          <el-button icon="el-icon-upload" size="small" type="primary" style="width: 100%;">点击上传 Kindle 笔记</el-button>
        </el-upload>
        <el-link type="info" href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198191&idx=1&sn=95c506dde4a079d2840a91b12ca358a8&chksm=be5734e68920bdf04af5ad5f31d8c40acea17e723b1b0eeaa2d3d47d009a0adc5abca44bc953&token=1351484622&lang=zh_CN#rd"
        target="_blank" style="margin: 10px 0">如何获取 Kindle 笔记？</el-link>

        <!-- 第二步 -->
        <el-divider content-position="left">第 2 步：设置标签</el-divider>
        <div class="form">
          <el-form :model="form" :rules="rule" ref="form" label-position="top" label-width="100px"
            class="demo-ruleForm">
            <el-form-item label="自定义标签（支持多个）" prop="tag">
              <el-input v-model="form.tag" placeholder="开头 # 号，多个标签空格分隔" :clearable="true"></el-input>
            </el-form-item>
            <!-- <el-form-item label="分隔符（标注与笔记之间）" prop="delimiter">
              <el-input v-model="form.delimiter" placeholder="默认空一行" :clearable="true"></el-input>
            </el-form-item> -->
            <el-form-item label="标签位置" prop="order">
              <el-switch v-model="form.order" :content="form.order" active-value="up" inactive-value="down"
                change="switchChange"></el-switch>
            </el-form-item>
          </el-form>
        </div>

        <!-- 第三步 -->
        <el-divider content-position="left">第 3 步：flomo API</el-divider>
        <el-popover placement="bottom" title="" width="360" trigger="click" @hide="saveApi">
          <el-input v-model="api" autocomplete="on" placeholder="https://flomoapp.com/iwh/xxxxxxxxx"></el-input>
          <el-button style="display: block;" slot="reference" icon="el-icon-s-tools" type="danger"
            size="small">设置 flomo API</el-button>
        </el-popover>
        <!-- <el-input v-model="api" autocomplete="on" placeholder="https://flomoapp.com/iwh/xxxxxxxxx"></el-input> -->
        <el-link type="info" href="https://flomoapp.com/mine?source=incoming_webhook" target="_blank"
          style="margin: 10px 0">在哪里找到 flomo API？</el-link>
        <!-- aside: 帮助 -->
        <div class="help">
          <el-divider><i class="el-icon-s-opportunity" style="color: #909399"> 它的故事</i></el-divider>
          <ul style="list-style: none;">
            <li>
              <el-link type="info"
                href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198220&idx=1&sn=5d0fecf4d3a4ab1469724292dad9797d&chksm=be5734058920bd13ac17f149d7a54dd01b17a066d70f55a813ebb338075b6837f6c6605b255b&token=1351484622&lang=zh_CN#rd"
                target="_blank">1. 想了解它诞生的故事？</el-link>
            </li>
            <li>
              <el-link type="info"
                href="https://mp.weixin.qq.com/s?__biz=MjM5MDQ4NjUwMg==&mid=2649198238&idx=1&sn=31d5111d4a3bdc65ab1283612f1427f1&chksm=be5734178920bd0117a068f2c73897fd05c37bddba78efd62ccdf2bb6df5a0386172a4499143&token=677060446&lang=zh_CN#rd"
                target="_blank">2. 想了解它的实现过程？</el-link>
            </li>
          </ul>
          <div class="qrcode">
            <img style="width: 50%;" src="http://img.90byte.com/weixin/weixin_qrcode.jpg"></img>
          </div>
        </div>
        <!-- aside：其他 -->
        <div class="others" style="margin-bottom: 1em;">
          <el-divider><i class="el-icon-menu" style="color: #909399"> 其他工具</i></el-divider>
          <el-link type="primary" href="http://md2wechat.90byte.com/index.html" target="_blank">微信公众号 Markdown 编辑器
          </el-link>
        </div>

      </div>
      <!-- middle -->
      <!-- <div class="middle" style="margin-top: 1.8em; margin-right: 1%;">
        <el-link v-show="asideVisable" :underline="false" type="info" @click.native="hideAside"><i
            class="iconfont icon-zuojiantou-"></i></el-link>
        <el-link v-show="!asideVisable" :underline="false" type="info" @click.native="showAside"><i
            class="iconfont icon-youjiantou"></i></el-link>
      </div> -->
      <!-- main -->
      <div v-if="result.length" class="main">
        <h2 style="color: #606266">《{{ book_title }}》
          <small>共 {{ result.length }} 条笔记</small>
        </h2>
        <div style="margin-left: 1em" class="sub_title">
          <span>已选择 {{ selectedCount }} 条</span>
          <div class="op" style="display: inline;float: right;line-height: 1.8em;">
            <el-link v-if="selectedCount > 1" :underline="false" type="primary" @click.native="postsome">批量导入</el-link>
            <!-- <el-link v-if="selectedCount > 1" :underline="false" type="danger" @click.native="deletesome">批量删除</el-link> -->
          </div>
          <span>，已上传 {{ savedCount }} 条
            <el-popover placement="top-start" title="" width="250" trigger="hover" content="flomo 每天只支持上传 100 条 Memo">
              <i style="color: #606266" class="el-icon-question" slot="reference"></i>
            </el-popover>
          </span>

        </div>
        <div ref="content" class="main-content">
          <el-card ref="card" shadow="hover" v-for="(item,index) in result" :key="index"
            @click.native="clickCard(item,index)" :class="{ selected: item.selected, saved: item.saved }">
            <div class="memo_header" style="margin-bottom: 5px;">
              <span style="font-size:12px; color:#909399;">{{ item.place }}
                <div style="float: right;" @click.stop>
                  <el-dropdown trigger="click" size='small'>
                    <span class="el-dropdown-link"><i class="el-icon-more el-icon--right"></i></span>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item icon="el-icon-upload" @click.native.stop="postone(item,index)">导入
                        flomo</el-dropdown-item>
                      <el-dropdown-item v-if="item.saved" icon="el-icon-copy-document"
                        @click.native.stop="copyLink(item,index)">复制链接</el-dropdown-item>
                      <el-dropdown-item icon="el-icon-edit-outline" @click.native.stop="edit(item,index)" divided>编辑</el-dropdown-item>
                      <el-dropdown-item icon="el-icon-delete" @click.native.stop="del(item,index)">删除</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </span>
            </div>
            <span v-if="form.order == 'up'" v-for="(item, index) in form.tag.split(' ')" :key="index">
              <el-tag v-if="item && item.split('')[0] == '#'" style="margin: 0 5px 3px 0">{{ item }}</el-tag>
            </span>
            <div class="note" v-if="item.note && item.note.replace(/[\n\r]/g, '')">
              <!-- <p><b>{{ item.note }}</b></p> -->
              <b><p v-html="item.note.replaceAll('\n', '<br/>')"></p></b>
              <!-- <p>{{ form.delimiter }}</p> -->
            </div>
            <div class="highlight" v-if="item.highlight">
              <p v-html="item.highlight.replaceAll('\n', '<br/>')"></p>
            </div>
            <span v-if="form.order == 'down'" v-for="(item, index) in form.tag.split(' ')" :key="index">
              <el-tag v-if="item && item.split('')[0] == '#'" style="margin: 3px 5px 0 0">{{ item }}</el-tag>
            </span>
          </el-card>
        </div>
      </div>
      <!-- right -->
      <div class="right">
        <h2 style="color: #606266">笔记加工区</h2>
        <div class="sub_title">自由编辑，或整合笔记，或者写书评，或其他</div>
        <div class="editor">
          <textarea style="height: auto" id="editor" type="textarea"></textarea>
          <div class="editor-tool">
            <!-- <el-button type="primary" size="mini">保存到 flomo</el-button> -->
            <el-dropdown trigger="click" size='small' @command="handleEditor">
              <el-button type="primary" size="mini">
                保存<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item icon="el-icon-upload"command="flomo">导入 flomo</el-dropdown-item>
                <el-dropdown-item icon="el-icon-s-order" command="md2wechat">MD2Wechat</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <!-- <div class="beian">
        <el-link type="info" href="https://beian.miit.gov.cn/" target="_blank">京ICP备17071687号-2</el-link>
    </div> -->
    <!--  -->
  </div>
</body>
<!-- import Vue before Element -->
<script src="./static/vue@2.6.14.js"></script>
<!-- import JavaScript -->
<script src="./static/element-ui_lib_index.js"></script>
<!-- axios -->
<script src="./static/axios.min.js"></script>
<!-- vue-clipboard -->
<script src="./static/vue-clipboard2.min.js"></script>
<!-- codemirror -->
<script src="./static/codemirror/codemirror.js"></script>
<script src="./static/codemirror/mode/markdown/markdown.js"></script>
<!-- main.js -->
<script src="./static/main.js"></script>
<!-- Baidu tongji -->
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?8840a0f0270afb380dff93d01a63b75b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</html>