<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公众号原生样式 Markdown 编辑器</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- element ui -->
  <link rel="stylesheet" href="/assets/3rd/element/element-ui_lib_theme-chalk_index.css">
  <!-- codemirror -->
  <link rel="stylesheet" href="/assets/3rd/codemirror/codemirror.css">
  <link rel="stylesheet" href="/assets/3rd/codemirror/theme/base16-light.css">
  <link rel="stylesheet" href="/assets/3rd/codemirror/theme/duotone-light.css">
  <link rel="stylesheet" href="/assets/3rd/codemirror/theme/monokai.css">
  <!-- app -->
  <link rel="stylesheet" href="static/app.css">
  <style>
    @media screen and (max-width: 500px) {}
  </style>
</head>

<body>
  <div id="app">
    <div class="header">
      <h3 class="logo">{{ title }}</h3>
      <el-form size="small" class="ctrl" :inline=true>
        <el-form-item label="编辑样式">
          <el-select v-model="currentEditorTheme" size="small" @change="editorThemeChanged">
            <el-option v-for="editorTheme in editorThemes" :key="editorTheme.value" :label="editorTheme.label"
              :value="editorTheme.value">
            </el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="字号">
            <el-select v-model="currentSize" size="mini" placeholder="字体大小" @change="sizeChanged">
              <el-option v-for="size in sizeOption" :key="size.value" :label="size.label" :value="size.value">
                <span style="float: left">{{ size.label }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ size.desc }}</span>
              </el-option>
            </el-select>
          </el-form-item> -->
        <el-form-item label="渲染样式">
          <el-select v-model="currentTheme" size="small" placeholder="选择主题样式" @change="themeChanged">
            <el-option v-for="theme in themeOption" :key="theme.value" :label="theme.label" :value="theme.value">
              <span style="float: left">{{ theme.label }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ theme.author }}</span>
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div class="hint"><a href="#" @click="copy" class="copy-button">点此复制全文</a></div>
      <el-dropdown trigger="click">
        <el-button size="small" type="primary" icon="el-icon-present">关注我</el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <el-image style="width: 200px" src="/assets/images/qrcode*12.jpg" fit="contain"
              placement="bottom-right"></el-image>
          </el-dropdown-item>
          <!-- <el-dropdown-item icon="el-icon-circle-plus">狮子头</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-plus-outline">螺蛳粉</el-dropdown-item>
            <el-dropdown-item icon="el-icon-check">双皮奶</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-check">蚵仔煎</el-dropdown-item> -->
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="main-body">
      <div class="editor-wrapper">
        <textarea id="editor" type="textarea" placeholder="Your markdown here." v-model="source"></textarea>
      </div>
      <div class="preview-wrapper">
        <div class="preview" contenteditable="false">
          <div id="output" v-html="output"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- import Vue before Element -->
  <script src="/assets/3rd/vue/vue@2.6.14.js"></script>
  <!-- import JavaScript -->
  <script src="/assets/3rd/element/element-ui_lib_index.js"></script>
  <!-- axios -->
  <script src="/assets/3rd/axios/axios.min.js"></script>
  <!-- marked -->
  <script src="/assets/3rd/marked/marked.min.js"></script>
  <!-- codemirror -->
  <script src="/assets/3rd/codemirror/codemirror.js"></script>
  <script src="/assets/3rd/codemirror/mode/markdown/markdown.js"></script>
  <!-- 注音功能 -->
  <script src="/assets/3rd/furiganaMD/FuriganaMD.js"></script>
  <!-- themes -->
  <script src="themes/default.js"></script>
  <script src="themes/lupeng.js"></script>
  <script src="themes/lupeng_new.js"></script>
  <!-- app -->
  <script src="static/wx-renderer.js"></script>
  <script src="static/upload.js"></script>
  <!-- Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4178606-10"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-4178606-10');
  </script> -->
  <script>
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          title: 'Markdown to Wechat',
          aboutOutput: '',
          output: '',
          source: '',
          editorThemes: [
            { label: 'base16-light', value: 'base16-light' },
            { label: 'duotone-light', value: 'duotone-light' },
            { label: 'monokai', value: 'monokai' }
          ],
          currentEditorTheme: 'base16-light',
          editor: null,
          currentTheme: 'lupeng',
          themeOption: [
            { label: '原作者', value: 'default', author: 'Lyric' },
            { label: '优雅风格', value: 'lupeng', author: 'lupeng' },
            { label: '原生风格', value: 'lupeng_new', author: 'lupeng' }
          ],
          styleThemes: {
            default: defaultTheme,
            lupeng: lupengTheme,
            lupeng_new: lupeng_new
          }
        }
      },
      mounted() {
        var self = this
        this.editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
          lineNumbers: false,
          lineWrapping: true,
          styleActiveLine: true,
          theme: this.currentEditorTheme,
          mode: 'text/x-markdown',
        });
        this.editor.on("change", function (cm, change) {
          self.refresh()
        })
        this.wxRenderer = new WxRenderer({
          theme: this.styleThemes.lupeng
        })
        axios({
          method: 'get',
          url: 'markdown/default.md',
        }).then(function (resp) {
          self.editor.setValue(resp.data)
        })
      },
      methods: {
        renderWeChat: function (source) {
          var output = marked(source, { renderer: this.wxRenderer.getRenderer() })
          if (this.wxRenderer.hasFootnotes()) {
            output += this.wxRenderer.buildFootnotes()
          }
          return output
        },
        editorThemeChanged: function (editorTheme) {
          this.editor.setOption('theme', editorTheme)
        },
        themeChanged: function (themeName) {
          var themeName = themeName;
          var themeObject = this.styleThemes[themeName];
          this.wxRenderer.setOptions({
            theme: themeObject
          })
          this.refresh()
        },
        refresh: function () {
          this.output = this.renderWeChat(this.editor.getValue())
        },
        copy: function () {
          var clipboardDiv = document.getElementById('output')
          clipboardDiv.focus();
          window.getSelection().removeAllRanges();
          var range = document.createRange();
          range.setStartBefore(clipboardDiv.firstChild);
          range.setEndAfter(clipboardDiv.lastChild);
          window.getSelection().addRange(range);

          try {
            if (document.execCommand('copy')) {
              this.$message({
                message: '已复制到剪贴板', type: 'success'
              })
            } else {
              this.$message({
                message: '未能复制到剪贴板，请全选后右键复制', type: 'warning'
              })
            }
          } catch (err) {
            this.$message({
              message: '未能复制到剪贴板，请全选后右键复制', type: 'warning'
            })
          }
        }
      }
    })
  </script>
</body>

</html>