@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main {
    /* display:  none; */
    max-width: 900px;
  }

  .aside {
    max-width: 100% !important;
    width: 100% !important;
  }

  .qrcode {
    text-align: center;
  }

  .main .el-card {
    width: 100% !important;
  }

  .op {
    float: none !important;
    line-height: 1em !important;
  }

  .el-upload {
    width: 100% !important;
  }
}

body {
  font-family: 'DIN-Regular', 'PingFang SC', Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #606266
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.aside {
  width: 300px;
  margin-right: 1%;
}

/*  aside books -----------begin */
.books {
  margin-bottom: 24px;
}

.books h4 {
  margin-bottom: 10px;
}

.book {
  margin-bottom: 3px;
  font-size: 0.9em;
  color: #606266;
  cursor: pointer;
  padding: 3px 0;
}

.book:hover{
  /* background-color: #409EFF; */
  color: #409EFF;
  text-decoration: underline;
  font-weight: bold;
}

.book.current{
  color: #409EFF;
  font-weight: bold;
}

.book.current::before{
  content: '> '
}

/* aside books --------- end */

.main {
  max-width: 800px;
}

.right {
  min-width: 400px;
  margin-left: 1%
}

.help ul {
  margin-top: 20px;
  padding: 0;
}

.main p {
  line-height: 1.8;
  margin: 0;
  min-height: 20px;
}

.main .main-content {

}

.main .el-card {
  margin-bottom: 2%;
  font-size: 14px;
  color: #606266;
}

.main .el-card .el-card__body {
  padding: 10px 15px;
}


.highlight{
  padding: 5px 15px;
  background-color:#fafafa;
  border-left: 3px solid #ddd;
  margin: 5px 0;
}

.note{
  margin-bottom: 5px;
}

.selected {
  border: 1px solid #5783F7;
}

.saved {
  border: 1px solid #67C23A;
}

.el-tag {
  padding: 0 4px;
  line-height: 24px;
  height: 24px;
}

.el-upload-list__item-name [class^=el-icon] {
  height: auto
}

.beian{
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-family: simsun;
  margin-bottom: 0;
  /* line-height: 3em; */
}

.sub_title {
  color: #7b7d80;
  display: block;
  margin-bottom: 10px;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 15px;
}

.fixed_div {
  top: 85px;
  z-index: 99999;
  position: fixed;
  /* width: calc(100% - 248px); */
}

.editor {
  /* height: auto; */
  border: 1px solid #EBEEF5;
  padding: 10px;
  background-color: #ffffff;
}

.editor-tool {
  text-align: right;
}

.CodeMirror {
  height: auto !important;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 400px;
  /* height: auto !important; */
  line-height: 1.5;
}


.CodeMirror-scroll {
  height: auto !important;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.el-divider__text {
  background-color: #fafafa;
  color: #606266;
}

.cm-s-base16-light.CodeMirror{
  background-color: #ffffff !important;
}